.about_me__code {
    color: var(--color-purple);
    transform: translateY(7px);
}

.svg-icon {
    filter: grayscale(90%) brightness(104%) contrast(97%);
    margin-bottom: 1.5rem;
}

.svg-icon__svg {
    height: 4em;
}

.tp {
    text-align: center;
    border-radius: 30px;
    font-weight: bold;
    font-size: small;
    visibility: hidden;
    color: var(--color-dark);
    border: 2px solid var(--color-secondary);
    background-color: var(--color-primary);
}

.svg-icon .svg-icon__svg {
    filter: drop-shadow(2px 3px 1px rgba(0 0 0 / 0.4));
}
.about-me__item {
    list-style: none;
    background-color: whitesmoke;
}
.about-me__list {
    padding: 0;
    margin: 0 2rem 2rem;
}
