.banner-content ul li {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: linear-gradient(to left, var(--color-secondary), var(--color-primary));
  list-style: none;
  border-radius: 50%;
  bottom: 0;
  opacity: 0;
  min-width: 70px;
  min-height: 70px;
  max-width: 120px;
  max-height: 120px; }

.home__svg {
  width: 3rem;
  height: 3rem;
  min-width: 35px;
  min-height: 35px;
  max-width: 60px;
  max-height: 60px; }

.banner-content ul li:nth-child(1) {
  animation: bubbles 19s linear infinite;
  left: 2%;
  width: 81px;
  height: 81px;
  animation-delay: -1.1s; }
  .banner-content ul li:nth-child(1) .home__svg {
    width: 40.5px;
    height: 40.5px; }

.banner-content ul li:nth-child(2) {
  animation: bubbles 15s linear infinite;
  left: 12%;
  width: 20px;
  height: 20px;
  animation-delay: -1.4s; }
  .banner-content ul li:nth-child(2) .home__svg {
    width: 10px;
    height: 10px; }

.banner-content ul li:nth-child(3) {
  animation: bubbles 16s linear infinite;
  left: 6%;
  width: 73px;
  height: 73px;
  animation-delay: -1.1s; }
  .banner-content ul li:nth-child(3) .home__svg {
    width: 36.5px;
    height: 36.5px; }

.banner-content ul li:nth-child(4) {
  animation: bubbles 16s linear infinite;
  left: 8%;
  width: 79px;
  height: 79px;
  animation-delay: 0.4s; }
  .banner-content ul li:nth-child(4) .home__svg {
    width: 39.5px;
    height: 39.5px; }

.banner-content ul li:nth-child(5) {
  animation: bubbles 13s linear infinite;
  left: 20%;
  width: 17px;
  height: 17px;
  animation-delay: 2.5s; }
  .banner-content ul li:nth-child(5) .home__svg {
    width: 8.5px;
    height: 8.5px; }

.banner-content ul li:nth-child(6) {
  animation: bubbles 15s linear infinite;
  left: 36%;
  width: 91px;
  height: 91px;
  animation-delay: -0.2s; }
  .banner-content ul li:nth-child(6) .home__svg {
    width: 45.5px;
    height: 45.5px; }

.banner-content ul li:nth-child(7) {
  animation: bubbles 13s linear infinite;
  left: 42%;
  width: 123px;
  height: 123px;
  animation-delay: 2.2s; }
  .banner-content ul li:nth-child(7) .home__svg {
    width: 61.5px;
    height: 61.5px; }

.banner-content ul li:nth-child(8) {
  animation: bubbles 18s linear infinite;
  left: 16%;
  width: 34px;
  height: 34px;
  animation-delay: 0.4s; }
  .banner-content ul li:nth-child(8) .home__svg {
    width: 17px;
    height: 17px; }

@keyframes bubbles {
  0% {
    opacity: 0; }
  20% {
    opacity: 0.5; }
  100% {
    transform: translateY(-80vh);
    opacity: 0; } }
