.contact__text {
   font-size: 1.6rem;
   text-align: center;
   padding: 1.3rem 2rem 0;
}

.color-facebook {
   color: #006aff;
}
.color-whatsapp {
   color: #128c7e;
}

.color-linkedin {
   color: #006aff;
}
.color-facebook:hover {
   color: #4267b2;
}

.color-linkedin:hover {
   color: #4267b2;
}
.color-whatsapp:hover {
   color: #075e54;
}

.contact__button {
   text-decoration: none;
   padding: 9px 25px;
   background-color: var(--color-light);
   border: 1px solid var(--color-dark);
   border-radius: 10px;
   cursor: pointer;
   color: var(--color-dark);
   transition: ease-out 0.6s;
   box-shadow: inset 0 0 0 0 var(--color-dark);
   font-weight: bold;
}

.contact__button:hover {
   text-decoration: none;
   box-shadow: inset 0 100px 0 0 var(--color-dark);
   border: 1px solid var(--color-dark-soft);
   color: var(--color-light);
}

.contact__icon{
   transform: translateY(6px);
}
