.footer-section {
    margin-top: 4rem;
    position: sticky;
    bottom: 0;
}

.footer__text {
    padding-left: 2vh;
    display: flex;
    background-color: var(--color-dark);
    color: var(--color-light);
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
    height: 2.8rem;
    font-size: 0.9rem;
    align-items: center;
}

.footer__link{
    text-decoration: none;
    color: var(--color-primary);
    transition: ease 0.2s;
}
.footer__link:hover{
    color: var(--color-light);
    font: bold;
}