.colmillo {
    background-color: var(--color-dark);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: -1;
}

.header__nav li {
    display: inline-block;
    margin: 0 15px;
}

.header__menu-icon {
    color: whitesmoke;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-label {
    display: none;
}

.header__link {
    color: var(--color-light);
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.header__link:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.header__link:hover::after {
    transform: scale(1);
    transition: transform 0.3s;
}

.header__link::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--color-primary);
    transform: scale(0);
    transition: transform 0.3s;
}

.header__nav {
    list-style: none;
}

.header__title {
    font-family: "Montserrat";
    font-weight: bolder;
    padding-left: 3rem;
    color: var(--color-light) !important;
    font-size: 0.75rem;
    margin-right: auto;
}
.header-bar {
    background-color: var(--color-dark-soft);
    width: 100%;
    height: 0.4rem;
}

.header-section {
    position: sticky !important;
    top: 0 !important;
    z-index: 20;
}

.header__buttom {
    text-decoration: none;
    padding: 9px 25px;
    background-color: var(--color-dark);
    border: 1px solid var(--color-light);
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-light);
    transition: ease-out 0.6s;
    box-shadow: inset 0 0 0 0 var(--color-light);
    font-weight: bold;
}

.header__buttom:hover {
    text-decoration: none;
    box-shadow: inset 300px 0 0 0 var(--color-light);
    border: 1px solid var(--color-dark-soft);
    color: var(--color-dark);
}

@media (max-width: 952px) {
    .header-section {
        position: absolute;
        top: 0;
    }
    .menu-label {
        display: block;
    }
    .colmillo {
        position: fixed;
    }
    .header-bar {
        position: fixed;
        top: 60px;
    }
    .header__nav {
        position: fixed;
        top: 50px;
        background-color: var(--color-dark-soft);
        width: 100%;
        text-align: center;
        height: 100%;
        display: none;
        transition: all 0.5;
    }
    .header__nav li {
        display: block;
        margin-bottom: 4rem;
        text-transform: uppercase;
    }
    .header__nav li:first-child {
        margin-top: 3rem;
    }
}

.mostrar {
    display: block;
}
