.svg-icon:nth-child(1) {
  animation: pulse 4s infinite;
  animation-delay: 0.5s; }
  .svg-icon:nth-child(1) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 0.5s; }

.svg-icon:nth-child(2) {
  animation: pulse 4s infinite;
  animation-delay: 1s; }
  .svg-icon:nth-child(2) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 1s; }

.svg-icon:nth-child(3) {
  animation: pulse 4s infinite;
  animation-delay: 1.5s; }
  .svg-icon:nth-child(3) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 1.5s; }

.svg-icon:nth-child(4) {
  animation: pulse 4s infinite;
  animation-delay: 2s; }
  .svg-icon:nth-child(4) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 2s; }

.svg-icon:nth-child(5) {
  animation: pulse 4s infinite;
  animation-delay: 2.5s; }
  .svg-icon:nth-child(5) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 2.5s; }

.svg-icon:nth-child(6) {
  animation: pulse 4s infinite;
  animation-delay: 3s; }
  .svg-icon:nth-child(6) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 3s; }

.svg-icon:nth-child(7) {
  animation: pulse 4s infinite;
  animation-delay: 3.5s; }
  .svg-icon:nth-child(7) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 3.5s; }

.svg-icon:nth-child(8) {
  animation: pulse 4s infinite;
  animation-delay: 4s; }
  .svg-icon:nth-child(8) .tp {
    animation: pulseTooltip 4s infinite;
    animation-delay: 4s; }

@keyframes pulseTooltip {
  0% {
    visibility: hidden; }
  10% {
    visibility: visible; }
  20%,
  100% {
    visibility: hidden; } }

@keyframes pulse {
  0% {
    filter: grayscale(90%) brightness(104%) contrast(97%);
    transform: translateX(0); }
  10% {
    transform: translateY(-15px);
    filter: none; }
  20%,
  100% {
    filter: grayscale(90%) brightness(104%) contrast(97%);
    transform: translateX(0); } }
