
.project__card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.project__card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.project__card-list::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-soft);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px black;
}

.project__card {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid var(--color-card-border);
    height: 400px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: var(--color-card-background);
    transition: all 0.2s;
}

.project__card:hover {
    transform: translateY(-1rem);
    box-shadow: -0.4rem 0.4rem 0.4rem rgba(100, 100, 100,0.4);

}
.project__card:hover ~ .project__card {
    transform: translateX(130px);
}

.project__card:not(:first-child) {
    box-shadow: -0.4rem 0 0.4rem rgba(100, 100, 100,0.4);
    margin-left: -130px;
    transition: all 0.2s;
}

.project__card:not(:first-child):hover {
    box-shadow: -0.4rem 0.4rem 0.4rem rgba(100, 100, 100,0.4);
}

.project__card-img-box {
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 260px;
}

.project__card-img-box img {
    width: 280px;
    height: 200px;
    transition: 0.2s;
    transition-delay: 0.03s;
}

.project__card .project__card-title {
    color: var(--color-card-title);
    text-align: center;
    transition: 0.2s;
}

.project__card .project__card-text {
    display: none;
    color: var(--color-card-text);
    text-align: justify;

    transition: 0.2s;
    opacity: 0;
}

.project__card:hover img {
    transform: translateY(-3rem);
    filter: none;
}

.project__card:hover .project__card-title {
    transform: translateY(-2.9rem);
    font-size: bold;
}
.project__card:hover .project__card-text {
    display: block;
    opacity: 1;
    transform: translateY(-3rem);
}

.project__card-tecs {
    font: bold;
    color: var(--color-dark);
    position: absolute;
    bottom: 0px;
}
.project__card-stat:not(:first-child) {
    border-left: 1px solid black;
}
.project__links {
    display: grid;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    visibility: hidden;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: var(--color-card-footer-background);
    transition: all 0.2s;
    opacity: 0;
    
   box-shadow: inset 0 0 0 0 var(--color-card-footer-background-onhover);
}

.project__card-stat:first-child {
    border-bottom-left-radius: 16px;
}

.project__card-stat:last-child {
    border-bottom-right-radius: 16px;
}

.project__card:hover .project__links {
    opacity: 1;
    visibility: visible;
}
.project__links .project__card-stat {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-card-icon-tec);
    padding: 10px;
    transition: ease-out 0.3s;
}

.project__card-stat a {
    text-decoration: none;
    color: var(--color-card-icon);
    transition: all 0.2s;
}

.project__card-stat:hover:not(:last-child) {
    box-shadow: inset 0 50px 0 0 var(--color-card-footer-background-onhover);
}

.project__card-stat:hover a {
    color: var(--color-card-icon-onhover);
}
