@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --color-dark: #1c1427;
  --color-dark-soft: #40394a;
  --color-light: whitesmoke;
  --color-primary: #7eca9c;
  --color-secondary: #ccffbd;
  --color-purple: #8351c9;

  /*project cards*/
  --color-card-footer-background-onhover: #505160;
  --color-card-background: white;
  --color-card-title: #1e1924;
  --color-card-text: rgb(78, 78, 78);
  --color-card-border: rgb(173, 173, 173);
  --color-card-footer-background: #40394a;
  --color-card-icon: whitesmoke;
  --color-card-icon-onhover: #598234;
  --color-card-icon-tec: whitesmoke;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light);
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-dark);
  margin: 1rem 0rem 2rem 0rem;
}

.section {
  padding-top: 3rem;
  height: 90%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.content-center {
  -ms-flex-pack: center;
  justify-content: center;
}
